{% block body %}
    <h1>Edit</h1>

        <h2>Edit Category</h2>
        {{ form_start(categoryForm) }}
            {{ form_widget(categoryForm) }}
            <button type="submit">
                Submit
            </button>
        {{ form_end(categoryForm) }}

    <a href="{{ path('admin') }}">Back to Admin</a>
{% endblock %}