@import '_variables.scss';
@import '_reset.scss';
@import '_font.scss';

//& -------------------- STYLING -------------------- //
//~ ------------PAGE NAME------------ //
//? -------- ELEMENT PAGE -------- //
.header {
  z-index: 9;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: $default-black;

  &__figure-logo {
    // Styles for the logo figure
    // ...

    &-img {
      // Styles for the logo image
      // ...
    }
  }

  &__nav-menu {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

    &-list {
      // Styles for the navigation list
      // ...

      &-item {
        // Styles for the navigation items
        // ...

        &-link {
          // Styles for the navigation links
          // ...
        }
      }
    }
  }

  &__icon-menu {
    // Styles for the icon menu
    // ...

    &-link {
      // Styles for the icon links
      // ...

      &-img {
        // Styles for the icon images
        // ...
      }
    }
  }
}

footer {
    margin-top: auto;
    height: 150px;
    width: 100%;
    background-color: $default-black;
}
