@import '_variables.scss';
@import '_reset.scss';
@import '_font.scss';

//& -------------------- STYLING -------------------- //
//~ ------------HEADER & FOOTER------------ //
//? -------- HEADER -------- //
.header {
  z-index: 9;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 10px 35px;
  background-color: $default-black;

  &__nav-menu {

    .header__nav-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .header__nav-item {
        // Styles for the navigation items
        // ...

        .header__nav-link {
          font-family: 'Roller Coaster';
          font-size: 1.5rem;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .header__icon-link {
      // Styles for the icon links
      // ...

      .header__icon-img {
        align-self: center;
        width: 40px;
        height: 40px;

        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
}


//? -------- FOOTER -------- //
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 100px;
    width: 100%;
    background-color: $default-black;
}

//~ ------------ HOMEPAGE ------------ //
//? -------- HERO -------- //

//~ ------------ ADMIN DASHBOARD ------------ //
//? -------- MAIN INTERFACE -------- //

